*.pyc
*~
dist/
fiduswriter_citation_api_import.egg-info/
build/
__pycache__/
venv/
.envrc
.direnv/
fiduswriter/.transpile
fiduswriter/media
fiduswriter/static-libs
fiduswriter/static-transpile
fiduswriter/static-collected
fiduswriter/.coveragerc
fiduswriter/configuration.py
fiduswriter/fiduswriter.sql
fiduswriter/fiduswriter.sqlite3
fiduswriter/testdb.sqlite3
fiduswriter/screenshots
fiduswriter/*.json
.transpile/
static-libs/
fiduswriter.sql
